{% extends "base.html" %}

{% block content %}
<div class="container-fluid mb-2 p-3">
    <h2>Удаление поста</h2>
    <p class="text-right font-weight-bold">
        Автор: {{ post.title }}
    </p>
    <p class="text-right font-weight-bold">
        Автор: {{ post.author }}
    </p>
    <p class="text-right font-italic">
        Опубликовано: {{ post.created_at }}
    </p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Удалить">
    </form>
</div>
{% endblock content %}