{% extends "base.html" %}

{% block content %}
<div class="container-fluid mb-2 p-3">
    <h2>Все посты пользователя {{ username }}</h2>
    <ul class="list-unstyled">
        {% for post in posts %}
        <li class="my-5 p-3 border">
            <a href="{% url 'blogs:detail' pk=post.pk %}">{{ post.title }}</a>
            <p class="text-right font-weight-bold">
                Автор: <a href="{% url 'blogs:userposts' post.author.name %}">{{ post.author.name }}</a>
            </p> 
            <p class="text-right font-italic">Опубликовано: {{ post.created_at }}</p>   
        </li>
        {% endfor %}
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
    
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            {% for i in page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
    
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}

        </ul>
    </nav>
</div>
{% endblock content %}